<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset=utf-8 />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Formulário de Cadastro</title>
</head>
<body>
  <form>
    <div>
      <h1>Cadastro</h1> 
    </div>
    <div>
      <label>Nome:</label> 
      <input id="nome_pessoa" type="text" /> 
    </div>
    <div> 
      <label>E-mail:</label> 
      <input id="nome_login" type="email"/> 
    </div>
    <div> 
      <label>Senha:</label> 
      <input id="senha_login" type="password" /> 
    </div>
    <div> 
      <label>Confirme a Senha:</label> 
      <input id="conf_senha_login" type="password" />
    </div>
    <div> 
      <button> Cadastrar </button>
    </div>
  </form>
</body>
</html>
